*.[1-9]
*.a
*.aux
*.cp
*.exe
*.msi
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
*.o
*.sdk
*.gcda
*.gcno
*.swp
*.tps
*.db
*.tar
*.gz
*.xz
.stgit-*
cscope.*
tags
TAGS
*.plist
.gdb_history
*plog.pb-c.c
*plog.pb-c.h

linux.qcow2
snapshot/*
linux-5.7.3/*
